:root { 
  --primary:#053B50;
  --bg:white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 4.5rem 0 4.5rem  ;
  background:transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar a {
  font-size: 1.2rem;
  color: var(--primary);
  font-weight: 500;
  margin-left: 2.5rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 5rem;
}


#home {
  display: flex;
  align-items: center;
  justify-content: center;
  margin : 4rem;
  padding : 2.5rem;
  color: var(--primary);
}
#home #main-content {
  margin-right: 8rem;
}
#home #main-content h1 {
  font-size: 50px;
}
.gambar img{
  width: 26rem;
  
}

