/* Setup Font di google font */

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* Setup Color Palerte */
:root {
  --Button: #d2f131;
  /* untuk font dan garus tepi kyk border */
  --Base: #242924;
  --komplemen-2: #ed71a9;
  --Background: #f4f4f1;
  --komplemen: #7252d3;
  --komplemen-3: #9ae7ff;

}

/* ini default semuanya biar netral setinggannya */
* {
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

body {
  color: var(--Base);
}

header {
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--Background);
  box-shadow: var(--Base);
  padding: 3rem 4rem 2rem;
  border-bottom: 1px solid var(--Base);
  z-index: 100;
}


#home span {
  font-weight: 800;
}

.container-navbar-logo {
  flex-direction: row;
  display: flex;
  gap: 4rem;
}

header ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.container-navbar-logo a {
  font-size: 24px;
  color: var(--Base);
}

.button {
  border: 3px solid var(--Base);
  padding: 3px 10px 3px;
  border-radius: 15px;
  box-shadow: 4px 4px 0px 0px var(--Base);
}

.button:hover {
  background-color: var(--Button);
}

.button:active {
  font-size: 22px;
  border: 2px solid var(--Base);
  background-color: var(--Button);
  box-shadow: 1px 1px 0px 0px var(--Base);
  transition: all 100ms ease-out;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem 10rem 6rem 10rem ;
  color: var(--Base);
  background-color: var(--Background);
}
#home #main-content {
  margin-right: 8rem;
}

#home #main-content h1 {
  font-size: 50px;
}

.gambar {
  border: 6px solid var(--Base);
  box-shadow: 4px 4px 0px 0px var(--Base);
  border-radius: 20px;
}

.gambar img {
  width: 20rem;
  border-radius: 20px;

}

/* pay section css */

#pay {
  padding-bottom: 2rem;
  padding-top: 2rem;
  background-color: var(--Background);
}

.main {
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.paytext {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.paytext h2 {
  margin-top: 1rem;
  color: var(--primary);
}

.payimg {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  height: 10rem;
}

.payimg img {
  max-width: 120px;
  margin-left: 1rem;
  margin-right: 1rem;
  border: 3px solid var(--Base);
  box-shadow: 4px 4px 0px 0px var(--Base);
}

.payimg img:hover {
  background-color: var(--Button);
  max-width: 150px;
  transition: all 100ms ease-out;
}

/* Profile pendiri */

.Pendiri-wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding-left: 10%;
  padding-right: 10%;
  align-items: center;
}

.orang-wrapper {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 50vh;
  border: 3px solid var(--Base);
  padding: 3px 10px 3px;
  border-radius: 15px;
  box-shadow: 4px 4px 0px 0px var(--Base);
}

.profile-card {

  border: 3px solid var(--Base);
  padding: 3px 10px 3px;
  border-radius: 15px;
  box-shadow: 4px 4px 0px 0px var(--Base);
  flex: 1;
}
.keterangan-profile{
  border: 3px solid var(--komplemen);
  padding: 3px 10px 3px;
  border-radius: 15px;
  box-shadow: 4px 4px 0px 0px var(--Base);
  flex: 2;
}

.profile-card #sakti {

}


/* scroll section css */

.scroll-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Background);
  height: 600px;
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.card-creator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 3px solid var(--Base);
  box-shadow: 4px 4px 0px 0px var(--Base);
  background-color: var(--komplemen-2);
  width: 200px;
}
.card-creator img {
  margin: 5px;
  border-radius: 10px;
}

.ungu {
  background-color:rgb(63, 233, 233);
}

.kuning {
  background-color: var(--Button);
}

.card-creator p {
  padding-right: 5px;
  font-weight: 800;
}

.tag-list li {
  padding: 1rem;
  background: #242924;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem #242924;
  color: #f4f4f1;
}

.scroller {
  max-width: 800px;
}

.scroll-img .creatorText {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 2rem ;
}

.scroller_inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroll-img img {
  max-width: 70px;

}

.mid-img img {
  max-width: 100px;
  border-radius: 5%;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller_inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}
.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}
.scroller[data-speed="fast"] {
  --_animation-duration: 120s;
}
.scroller[data-speed="slow"] {
  --_animation-duration: 40s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.kontainer  {
  padding-inline: 3rem;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.footer-col .Icon img{
  max-width: 7rem;
}

.footer{
	background-color:rgb(238, 238, 238);
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color:var(--Base);
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color:#bfe600;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #2c2c2c;
	text-decoration: none;
	font-weight: 300;
	color: #000000;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #494949;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #1f1f1f;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #fcfcfc;
	background-color: #575757;
}

@media screen and (max-width: 750px){
  .container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 3rem;
  }

  .gambar img {
    width: 9rem;
  }

    #home #main-content h1 {
    font-size: 30px;
  }

  #home #main-content p {
    font-size: 10px;
  }

  .scroller {
    max-width: 560px;
  }

  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}

@media screen and (max-width: 555px) {
  #home .gambar img {
    display: none;
  }

  #home .gambar {
    border: none;
    box-shadow: none;
  }

  .scroller {
    max-width: 360px;
  }

  #home #main-content h1 {
    font-size: 35px;
  }

  #home #main-content p {
    font-size: 13px;
  }

  .container-navbar-logo a {
    padding: 1px 3px 1px;
    font-size: 18px;
    gap: 2rem;
  }

  header {
    padding: 1rem 3rem 1rem;
  }

  .container {
    padding: 5rem;
  }

  .scroll-img img {
    max-width: 40px;
  
  }
  
  .mid-img img {
    max-width: 70px;
    border-radius: 5%;
  }

  .card-creator p {
    padding-right: 5px;
    font-weight: 800;
    font-size: 14px;
  }
  .card-creator {
    max-width: 170px;
  }
}

@media screen and (max-width: 367px) {
  #pay {
    height: 450px;
    width: 100%;
  }

  .scroller {
    max-width: 360px;
  }

  .footer-col{
    width: 100%;
}
  .container-navbar-logo a {
    font-size:13px ;
    gap: 1rem;
  }

}
