/* Setup Font di google font */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* ini default semuanya biar netral setinggannya */
*{
    font-family: "Manrope", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}
/* Setup Color Palerte */

:root {
    --Button: #D2F131;
    /* untuk font dan garus tepi kyk border */
    --Base: #242924;
    --komplemen-2: #ED71a9;
    --Background: #f4f4f1;
    --komplemen: #7252D3;
}

img {
    width: 100%;
}

body {
    color: var(--Base) ;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--Background);
    box-shadow: var(--Base);
    padding: 3em 7em 3em;
    
}

.container-navbar-logo {
    flex-direction: row;
    display: flex;
    gap: 4rem;
}

header ul {
    display: flex;
    gap: 2rem;
}


.container-navbar-logo a {
    font-size: 24px;
    color: var(--Base);
}

.button {
    border: 3px solid var(--Base);
    padding: 3px 10px 3px;
    border-radius: 15px;
    box-shadow: 4px 4px 0px 0px var(--Base);

}

.button:hover {
    border: 3px solid var(--Base);
    padding: 3px 10px 3px;
    background-color: var(--Button);
    border-radius: 15px;
    box-shadow: 4px 4px 0px 0px var(--Base);
}


.button:active {
    border: 3px solid var(--Button);
    padding: 3px 10px 3px;
    background-color: var(--Button);
    border-radius: 15px;
    box-shadow: 4px 4px 0px 0px var(--Base);
}